body {
  text-align: center;
  margin-top: 150px;
  background-image: url("../img/universe-picture.jpg");
  color: white;

}

.input-number {
  color: black;
}

button {
  background-image: radial-gradient(#81388c, #7083f5, #22f2d7, #2f25e9);
  border: 3px solid #f1aafc;
  border-radius: .5;
  width: 150px;
  height: 30px;
}
